@font-face {
  font-family: "iconfont"; /* Project id 4435461 */
  src: url('iconfont.woff2?t=1708578265650') format('woff2'),
       url('iconfont.woff?t=1708578265650') format('woff'),
       url('iconfont.ttf?t=1708578265650') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e64d";
}

.icon-shoucang:before {
  content: "\e655";
}

.icon-bianji:before {
  content: "\e62e";
}

.icon-shanchu:before {
  content: "\e632";
}

.icon-jiantou:before {
  content: "\e6bd";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-Magnifier:before {
  content: "\e62d";
}

