@font-face {
  font-family: "iconfont"; /* Project id 4435461 */
  src: url('iconfont.woff2?t=1708001746305') format('woff2'),
       url('iconfont.woff?t=1708001746305') format('woff'),
       url('iconfont.ttf?t=1708001746305') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e61c";
}

.icon-shoucang:before {
  content: "\e78d";
}

.icon-bianji:before {
  content: "\e643";
}

.icon-biying:before {
  content: "\e600";
}

.icon-baidu:before {
  content: "\e612";
}

.icon-guge:before {
  content: "\e601";
}

.icon-jiantou:before {
  content: "\e6bd";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-Magnifier:before {
  content: "\e62d";
}

